@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto+Condensed&display=swap");

* {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Akshar", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#red {
  color: rgb(189, 14, 14);
}
.navbar {
  display: flex;
  justify-content: flex-end;
  color: black;
  background-image: url(images/icons/menu.jpg);
  background-size: cover;
  box-sizing: border-box;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30%;
}
.floating-menu {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0px;
}
.navbar2 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 15px;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  padding-right: 30%;
}
.navbar3 {
  display: flex;
  justify-content: center;
  color: black;
  background-color: rgb(233, 232, 232);
  font-size: 15px;
  justify-content: space-evenly;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}
#h3 {
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
}
#pic {
  width: 100%;
}
.h2 {
  text-align: center;
}
.pic2 {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
#button {
  box-sizing: border-box;
  border: none;
  background-color: rgb(233, 232, 232);
  padding: 15px;
}
#button2 {
  box-sizing: border-box;
  border: none;
  background-color: rgb(189, 14, 14);
  color: white;
  padding: 15px;
}
#button3 {
  box-sizing: border-box;
  border: none;
  background-color: white;
  padding: 15px;
}
.picR {
  display: flex;
  justify-content: right;
}
.paraL {
  display: flex;
  justify-content: left;
  padding-right: 50%;
}
.picL {
  display: flex;
  justify-content: left;
}
.paraR {
  display: flex;
  justify-content: right;
  padding-left: 50%;
}
#h4 {
  display: flex;
  justify-content: flex-end;
}
.p3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}
#pic2 {
  width: 25%;
  height: 25%;
}
.p4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25%;
}
.share {
  box-sizing: border-box;
  border: solid grey;
  background-color: rgb(233, 232, 232);
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-left: 6%;
}
#logo {
  width: 35px;
  height: 35px;
}
.logo {
  display: flex;
  justify-content: center;
  justify-content: baseline;
}
#share {
  text-align: center;
}
#h5 {
  color: rgb(189, 14, 14);
  font-weight: lighter;
}
.foot {
  color: rgb(214, 213, 213);
  box-sizing: border-box;
  border: none;
  background-color: rgb(65, 65, 65);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 6%;
}
.foot2 {
  color: white;
  background-color: black;
  margin-left: 6%;
}
.p5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50%;
  text-align: left;
}
.list {
  list-style-type: none;
}
.soc {
  padding-left: 5%;
}
.foot3 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  color: white;
  background-color: black;
  box-sizing: border-box;
  border-top: solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10%;
  margin-left: 6%;
  font-size: 11px;
}
.he1 {
  margin-left: 6%;
}
#butt {
  box-sizing: border-box;
  border: solid white;
  background-color: black;
  color: white;
}
#pic3 {
  width: 600px;
  height: 350px;
}
.btn-two {
  color: black;
  transition: all 0.5s;
  position: relative;
}
.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(233, 232, 232, 0.2);
  transition: all 0.3s;
}
.btn-two:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-two:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(189, 14, 14, 0.2);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgb(189, 14, 14, 0.2);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
